extends ./layouts/head
block content
  title Shopping web | Home page
  .header-connect
    .container
      .row
        .col-md-5.col-sm-8.col-xs-12
          .header-half.header-call
            p
              span
                i.pe-7s-call
                |  +1 234 567 7890
              span
                i.pe-7s-mail
                |  your@company.com
        .col-md-2.col-md-offset-5.col-sm-3.col-sm-offset-1.col-xs-12
          .header-half.header-social
            ul.list-inline
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-vine
              li
                a(href='#')
                  i.fa.fa-linkedin
              li
                a(href='#')
                  i.fa.fa-dribbble
              li
                a(href='#')
                  i.fa.fa-instagram
  // End top header
  nav.navbar.navbar-default
    .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navigation')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          img(src='assets/img/logo.png', alt='')
      // Collect the nav links, forms, and other content for toggling
      #navigation.collapse.navbar-collapse.yamm
        .button.navbar-right
          button.navbar-btn.nav-button.wow.bounceInRight.login(onclick=" window.open('users')", data-wow-delay='0.45s') Login
          
        ul.main-nav.nav.navbar-nav.navbar-right
          li.dropdown.ymm-sw(data-wow-delay='0.1s')
            a.dropdown-toggle.active(href='index.html', data-toggle='dropdown', data-hover='dropdown', data-delay='200')
              | Home 
              b.caret
            ul.dropdown-menu.navbar-nav
              li
                a(href='index-2.html') Home Style 2
              li
                a(href='index-3.html') Home Style 3
              li
                a(href='index-4.html') Home Style 4
              li
                a(href='index-5.html') Home Style 5
          li.wow.fadeInDown(data-wow-delay='0.2s')
            a(href='/products') Products
          li.wow.fadeInDown(data-wow-delay='0.3s')
            a(href='property.html') Property
          li.dropdown.yamm-fw(data-wow-delay='0.4s')
            a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='200')
              | Template 
              b.caret
            ul.dropdown-menu
              li
                .yamm-content
                  .row
                    .col-sm-3
                      h5 Home pages
                      ul
                        li
                          a(href='index.html') Home Style 1
                        li
                          a(href='index-2.html') Home Style 2
                        li
                          a(href='index-3.html') Home Style 3
                        li
                          a(href='index-4.html') Home Style 4
                        li
                          a(href='index-5.html') Home Style 5
                    .col-sm-3
                      h5 Pages and blog
                      ul
                        li
                          a(href='blog.html') Blog listing
                        li
                          a(href='single.html') Blog Post (full)
                        li
                          a(href='single-right.html') Blog Post (Right)
                        li
                          a(href='single-left.html') Blog Post (left)
                        li
                          a(href='contact.html') Contact style (1)
                        li
                          a(href='contact-3.html') Contact style (2)
                        li
                          a(href='contact_3.html') Contact style (3)
                        li
                          a(href='faq.html') FAQ page
                        li
                          a(href='404.html') 404 page
                    .col-sm-3
                      h5 Property
                      ul
                        li
                          a(href='property-1.html') Property pages style (1)
                        li
                          a(href='property-2.html') Property pages style (2)
                        li
                          a(href='property-3.html') Property pages style (3)
                      h5 Properties list
                      ul
                        li
                          a(href='properties.html') Properties list style (1)
                        li
                          a(href='properties-2.html') Properties list style (2)
                        li
                          a(href='properties-3.html') Properties list style (3)
                    .col-sm-3
                      h5 Property process
                      ul
                        li
                          a(href='submit-property.html') Submit - step 1
                        li
                          a(href='submit-property.html') Submit - step 2
                        li
                          a(href='submit-property.html') Submit - step 3
                      h5 User account
                      ul
                        li
                          a(href='register.html') Register / login
                        li
                          a(href='user-properties.html') Your properties
                        li
                          a(href='submit-property.html') Submit property
                        li
                          a(href='change-password.html') Change password
                        li
                          a(href='user-profile.html') Your profile
                // /.yamm-content
          li.wow.fadeInDown(data-wow-delay='0.5s')
            a(href='contact.html') Contact
      // /.navbar-collapse
    // /.container-fluid
  // End of nav bar
  .slider-area
    .slider
      #bg-slider.owl-carousel.owl-theme
        .item
          img(src='assets/img/slide1/slider-image-1.jpg', alt='GTA V')
        .item
          img(src='assets/img/slide1/slider-image-2.jpg', alt='The Last of us')
        .item
          img(src='assets/img/slide1/slider-image-1.jpg', alt='GTA V')
    .slider-content
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12
          h2 property Searching Just Got So Easy
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt deleniti, ullam
            | commodi sit ipsam laboriosam velit adipisci quibusdam aliquam teneturo!
          .search-form.wow.pulse(data-wow-delay='0.8s')
            form.form-inline(action='')
              button.btn.toggle-btn(type='button')
                i.fa.fa-bars
              .form-group
                input.form-control(type='text', placeholder='Key word')
              .form-group
                select#lunchBegins.selectpicker(data-live-search='true', data-live-search-style='begins', title='Select your city')
                  option New york, CA
                  option Paris
                  option Casablanca
                  option Tokyo
                  option Marraekch
                  option kyoto , shibua
              .form-group
                select#basic.selectpicker.show-tick.form-control
                  option  -Status- 
                  option Rent 
                  option Boy
                  option used
              button.btn.search-btn(type='submit')
                i.fa.fa-search
              .search-toggle(style='display: none;')
                .search-row
                  .form-group.mar-r-20
                    label(for='price-range') Price range ($):
                    input#price-range.span2(type='text', value='', data-slider-min='0', data-slider-max='600', data-slider-step='5', data-slider-value='[0,450]')
                    br
                    b.pull-left.color 2000$
                    b.pull-right.color 100000$
                  // End of
                  .form-group.mar-l-20
                    label(for='property-geo') Property geo (m2) :
                    input#property-geo.span2(type='text', value='', data-slider-min='0', data-slider-max='600', data-slider-step='5', data-slider-value='[50,450]')
                    br
                    b.pull-left.color 40m
                    b.pull-right.color 12000m
                  // End of
                .search-row
                  .form-group.mar-r-20
                    label(for='price-range') Min baths :
                    input#min-baths.span2(type='text', value='', data-slider-min='0', data-slider-max='600', data-slider-step='5', data-slider-value='[250,450]')
                    br
                    b.pull-left.color 1
                    b.pull-right.color 120
                  // End of
                  .form-group.mar-l-20
                    label(for='property-geo') Min bed :
                    input#min-bed.span2(type='text', value='', data-slider-min='0', data-slider-max='600', data-slider-step='5', data-slider-value='[250,450]')
                    br
                    b.pull-left.color 1
                    b.pull-right.color 120
                  // End of
                br
                .search-row
                  .form-group
                    .checkbox
                      label
                        input(type='checkbox')
                        |  Fire Place(3100)
                  // End of
                  .form-group
                    .checkbox
                      label
                        input(type='checkbox')
                        |  Dual Sinks(500)
                  // End of
                  .form-group
                    .checkbox
                      label
                        input(type='checkbox')
                        |  Hurricane Shutters(99)
                  // End of
                .search-row
                  .form-group
                    .checkbox
                      label
                        input(type='checkbox')
                        |  Swimming Pool(1190)
                  // End of
                  .form-group
                    .checkbox
                      label
                        input(type='checkbox')
                        |  2 Stories(4600)
                  // End of
                  .form-group
                    .checkbox
                      label
                        input(type='checkbox')
                        |  Emergency Exit(200)
                  // End of
                .search-row
                  .form-group
                    .checkbox
                      label
                        input(type='checkbox')
                        |  Laundry Room(10073)
                  // End of
                  .form-group
                    .checkbox
                      label
                        input(type='checkbox')
                        |  Jog Path(1503)
                  // End of
                  .form-group
                    .checkbox
                      label
                        input(type='checkbox')
                        |  26&apos; Ceilings(1200)
                  // End of
                  br
                  hr
                button.btn.search-btn.prop-btm-sheaerch(type='submit')
                  i.fa.fa-search
  // property area
  .content-area.home-area-1.recent-property(style='background-color: #FCFCFC; padding-bottom: 55px;')
    .container
      .row
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 Top submitted property
          p
            | Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu
            | ultricies .
      .row
        .proerty-th
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-1.html')
                  img(src='assets/img/demo/property-1.jpg')
              .item-entry.overflow
                h5
                  a(href='property-1.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-2.html')
                  img(src='assets/img/demo/property-2.jpg')
              .item-entry.overflow
                h5
                  a(href='property-2.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-3.html')
                  img(src='assets/img/demo/property-3.jpg')
              .item-entry.overflow
                h5
                  a(href='property-3.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-1.html')
                  img(src='assets/img/demo/property-4.jpg')
              .item-entry.overflow
                h5
                  a(href='property-1.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-3.html')
                  img(src='assets/img/demo/property-2.jpg')
              .item-entry.overflow
                h5
                  a(href='property-3.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-2.html')
                  img(src='assets/img/demo/property-4.jpg')
              .item-entry.overflow
                h5
                  a(href='property-2.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-1.html')
                  img(src='assets/img/demo/property-3.jpg')
              .item-entry.overflow
                h5
                  a(href='property-1.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-tree.more-proerty.text-center
              .item-tree-icon
                i.fa.fa-th
              .more-entry.overflow
                h5
                  a(href='property-1.html') CAN&apos;T DECIDE ? 
                h5.tree-sub-ttl Show all properties
                button.btn.border-btn.more-black(value='All properties') All properties
  // Welcome area
  .Welcome-area
    .container
      .row
        .col-md-12.Welcome-entry.col-sm-12
          .col-md-5.col-md-offset-2.col-sm-6.col-xs-12
            .welcome_text.wow.fadeInLeft(data-wow-delay='0.3s', data-wow-offset='100')
              .row
                .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
                  // /.feature title
                  h2 GARO ESTATE 
          .col-md-5.col-sm-6.col-xs-12
            .welcome_services.wow.fadeInRight(data-wow-delay='0.3s', data-wow-offset='100')
              .row
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-home.pe-4x
                    h3 Any property
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-users.pe-4x
                    h3 More Clients
                .col-xs-12.text-center
                  i.welcome-circle
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-notebook.pe-4x
                    h3 Easy to use
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-help2.pe-4x
                    h3 Any help 
  // TESTIMONIALS
  .testimonial-area.recent-property(style='background-color: #FCFCFC; padding-bottom: 15px;')
    .container
      .row
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 Our Customers Said 
      .row
        .row.testimonial
          .col-md-12
            #testimonial-slider
              .item
                .client-text
                  p Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !
                  h4
                    strong Ohidul Islam, 
                    i Web Designer
                .client-face.wow.fadeInRight(data-wow-delay='.9s')
                  img(src='assets/img/client-face1.png', alt='')
              .item
                .client-text
                  p Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !
                  h4
                    strong Ohidul Islam, 
                    i Web Designer
                .client-face
                  img(src='assets/img/client-face2.png', alt='')
              .item
                .client-text
                  p Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !
                  h4
                    strong Ohidul Islam, 
                    i Web Designer
                .client-face
                  img(src='assets/img/client-face1.png', alt='')
              .item
                .client-text
                  p Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !
                  h4
                    strong Ohidul Islam, 
                    i Web Designer
                .client-face
                  img(src='assets/img/client-face2.png', alt='')
  // Count area
  .count-area
    .container
      .row
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 You can trust Us 
      .row
        .col-md-12.col-xs-12.percent-blocks.m-main(data-waypoint-scroll='true')
          .row
            .col-sm-3.col-xs-6
              .count-item
                .count-item-circle
                  span.pe-7s-users
                .chart(data-percent='5000')
                  h2#counter.percent 0
                  h5 HAPPY CUSTOMER 
            .col-sm-3.col-xs-6
              .count-item
                .count-item-circle
                  span.pe-7s-home
                .chart(data-percent='12000')
                  h2#counter1.percent 0
                  h5 Properties in stock
            .col-sm-3.col-xs-6
              .count-item
                .count-item-circle
                  span.pe-7s-flag
                .chart(data-percent='120')
                  h2#counter2.percent 0
                  h5 City registered 
            .col-sm-3.col-xs-6
              .count-item
                .count-item-circle
                  span.pe-7s-graph2
                .chart(data-percent='5000')
                  h2#counter3.percent 5000
                  h5 DEALER BRANCHES
  // boy-sale area
  .boy-sale-area
    .container
      .row
        .col-md-6.col-sm-10.col-sm-offset-1.col-md-offset-0.col-xs-12
          .asks-first
            .asks-first-circle
              span.fa.fa-search
            .asks-first-info
              h2 ARE YOU LOOKING FOR A Property?
              p
                | varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
        .col-md-6.col-sm-10.col-sm-offset-1.col-xs-12.col-md-offset-0
          .asks-first
            .asks-first-circle
              span.fa.fa-usd
            .asks-first-info
              h2 DO YOU WANT TO SELL A Property?
              p
                | varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
        .col-xs-12
          p.asks-call
            | QUESTIONS? CALL US : 
            span.strong  + 3-123- 424-5700
  // Footer area
  .footer-area
    .footer
      .container
        .row
          .col-md-3.col-sm-6.wow.fadeInRight.animated
            .single-footer
              h4 About us 
              .footer-title-line
              img.wow.pulse(src='assets/img/footer-logo.png', alt='', data-wow-delay='1s')
              p
                | Lorem ipsum dolor cum necessitatibus su quisquam molestias. Vel unde, blanditiis.
              ul.footer-adress
                li
                  i.pe-7s-map-marker.strong  
                  |  9089 your adress her
                li
                  i.pe-7s-mail.strong  
                  |  email@yourcompany.com
                li
                  i.pe-7s-call.strong  
                  |  +1 908 967 5906
          .col-md-3.col-sm-6.wow.fadeInRight.animated
            .single-footer
              h4 Quick links 
              .footer-title-line
              ul.footer-menu
                li
                  a(href='properties.html') Properties
                li
                  a(href='#') Services
                li
                  a(href='submit-property.html') Submit property 
                li
                  a(href='contact.html') Contact us
                li
                  a(href='faq.html') fqa
                li
                  a(href='faq.html') Terms 
          .col-md-3.col-sm-6.wow.fadeInRight.animated
            .single-footer
              h4 Last News
              .footer-title-line
              ul.footer-blog
                li
                  .col-md-3.col-sm-4.col-xs-4.blg-thumb.p0
                    a(href='single.html')
                      img(src='assets/img/demo/small-proerty-2.jpg')
                    span.blg-date 12-12-2016
                  .col-md-8.col-sm-8.col-xs-8.blg-entry
                    h6
                      a(href='single.html') Add news functions 
                    p(style='line-height: 17px; padding: 8px 2px;')
                      | Lorem ipsum dolor sit amet,
                      | nulla ...
                li
                  .col-md-3.col-sm-4.col-xs-4.blg-thumb.p0
                    a(href='single.html')
                      img(src='assets/img/demo/small-proerty-2.jpg')
                    span.blg-date 12-12-2016
                  .col-md-8.col-sm-8.col-xs-8.blg-entry
                    h6
                      a(href='single.html') Add news functions 
                    p(style='line-height: 17px; padding: 8px 2px;')
                      | Lorem ipsum dolor sit amet,
                      | nulla ...
                li
                  .col-md-3.col-sm-4.col-xs-4.blg-thumb.p0
                    a(href='single.html')
                      img(src='assets/img/demo/small-proerty-2.jpg')
                    span.blg-date 12-12-2016
                  .col-md-8.col-sm-8.col-xs-8.blg-entry
                    h6
                      a(href='single.html') Add news functions 
                    p(style='line-height: 17px; padding: 8px 2px;')
                      | Lorem ipsum dolor sit amet,
                      | nulla ...
          .col-md-3.col-sm-6.wow.fadeInRight.animated
            .single-footer.news-letter
              h4 Stay in touch
              .footer-title-line
              p
                | Lorem ipsum dolor sit amet, nulla suscipit similique quisquam molestias. Vel unde,
                | blanditiis.
              form
                .input-group
                  input.form-control(type='text', placeholder='E-mail ... ')
                  span.input-group-btn
                    button.btn.btn-primary.subscribe(type='button')
                      i.pe-7s-paper-plane.pe-2x
                // /input-group
              .social.pull-right
                ul
                  li
                    a.wow.fadeInUp.animated(href='https://twitter.com/kimarotec')
                      i.fa.fa-twitter
                  li
                    a.wow.fadeInUp.animated(href='https://www.facebook.com/kimarotec', data-wow-delay='0.2s')
                      i.fa.fa-facebook
                  li
                    a.wow.fadeInUp.animated(href='https://plus.google.com/kimarotec', data-wow-delay='0.3s')
                      i.fa.fa-google-plus
                  li
                    a.wow.fadeInUp.animated(href='https://instagram.com/kimarotec', data-wow-delay='0.4s')
                      i.fa.fa-instagram
                  li
                    a.wow.fadeInUp.animated(href='https://instagram.com/kimarotec', data-wow-delay='0.6s')
                      i.fa.fa-dribbble
    .footer-copy.text-center
      .container
        .row
          .pull-left
            span
              | (C) 
              a(href='http://www.KimaroTec.com') KimaroTheme
              |  , All rights reserved 2016
          .bottom-menu.pull-right
            ul
              li
                a.wow.fadeInUp.animated(href='#', data-wow-delay='0.2s') Home
              li
                a.wow.fadeInUp.animated(href='#', data-wow-delay='0.3s') Property
              li
                a.wow.fadeInUp.animated(href='#', data-wow-delay='0.4s') Faq
              li
                a.wow.fadeInUp.animated(href='#', data-wow-delay='0.6s') Contact
  script(src='assets/js/modernizr-2.6.2.min.js')
  script(src='assets/js/jquery-1.10.2.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='assets/js/bootstrap-select.min.js')
  script(src='assets/js/bootstrap-hover-dropdown.js')
  script(src='assets/js/easypiechart.min.js')
  script(src='assets/js/jquery.easypiechart.min.js')
  script(src='assets/js/owl.carousel.min.js')
  script(src='assets/js/wow.js')
  script(src='assets/js/icheck.min.js')
  script(src='assets/js/price-range.js')
  script(src='assets/js/main.js')
