extends ../layouts/layout.pug

block content
  .page-head
    .container
      .row
        .page-head-content
          h1.page-title New account / Sign in 
  // End page header
  // register-area
  .register-area(style='background-color: rgb(249, 249, 249);')
    .container
      .col-md-10
        .box-for.overflow
          .col-md-12.col-xs-12.login-blocks
            h2 Login : 
            form(action='', method='post')
              .form-group
                label(for='email') Email
                input#email.form-control(type='text')
              .form-group
                label(for='password') Password
                input#password.form-control(type='password')
              .text-center
                button.btn.btn-default(type='submit')  Log in
                br
                br
                a.btn.btn-default(href='users/register') Register