extends ../layouts/layout.pug

block content
  
  .page-head
    .container
      .row
        .page-head-content
          h1.page-title New account / Sign in 
  // End page header
  // register-area
  .register-area(style='background-color: rgb(249, 249, 249);')
    .container
      .col-md-10
        .box-for.overflow
          .col-md-12.col-xs-12.login-blocks
            h2 Register : 
            form(action='', method='post')
              .form-group
                label(for='userName') UserName
                input#userName.form-control(type='text')
              .form-group
                label(for='passWord') Password
                input#passWord.form-control(type='password')
              .form-group
                label(for='retypePassword')  Retype Password
                input#retypePassword.form-control(type='password')
              .text-center
                a.btn.btn-default(href='/') Register

