extends ../layouts/layout.pug

block extra-header
  link(rel='stylesheet' href='/assets/css/lightslider.min.css')

block content
  .page-head
    .container
      .row
        .page-head-content
          h1.page-title Chi tiết sách
  // End page header
  // property area
  .content-area.single-property(style='background-color: #FCFCFC;')
    .container
      .clearfix.padding-top-40
        .col-md-8.single-property-content
          .row
            .light-slide-item
              .clearfix
                .favorite-and-print
                  a.add-to-fav(href='#login-modal' data-toggle='modal')
                    i.fa.fa-star-o
                  a.printer-icon(href='javascript:window.print()')
                    i.fa.fa-print
                ul#image-gallery.gallery.list-unstyled.cS-hidden
                  li(data-thumb='/assets/img/property-1/property1.jpg')
                    img(src='/assets/img/property-1/property1.jpg')
                  li(data-thumb='/assets/img/property-1/property3.jpg')
                    img(src='/assets/img/property-1/property3.jpg')
                  li(data-thumb='/assets/img/property-1/property4.jpg')
                    img(src='/assets/img/property-1/property4.jpg')
          .single-property-wrapper
            .single-property-header
              h1.property-title.pull-left #{product.title}
              span.property-price.pull-right #{product.basePrice} VND
            // .property-meta
            .section
              h4.s-property-title Description
              .s-property-content
                p
                  | Nulla quis dapibus nisl. Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies
            // End description area
            .section.additional-details
              h4.s-property-title Additional Details
              ul.additional-details-list.clearfix
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Waterfront
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry Yes
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Built In
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry 2003
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Parking
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry 2 Or More Spaces,Covered Parking,Valet Parking
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Waterfront
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry Yes
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title View
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry Intracoastal View,Direct ew
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Waterfront Description:
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry Intracoastal Front,Ocean Access
            
        .col-md-4.p0
          aside.sidebar.sidebar-property.blog-asside-right
            .dealer-widget
              .dealer-content
                .inner-wrapper
                  .clear
                    .col-xs-4.col-sm-4.dealer-face
                      a(href='')
                        img.img-circle(src='/assets/img/client-face1.png')
                    .col-xs-8.col-sm-8
                      h3.dealer-name
                        a(href='') Nathan James
                        span Real Estate Agent
                      .dealer-social-media
                        a.twitter(target='_blank' href='')
                          i.fa.fa-twitter
                        a.facebook(target='_blank' href='')
                          i.fa.fa-facebook
                        a.gplus(target='_blank' href='')
                          i.fa.fa-google-plus
                        a.linkedin(target='_blank' href='')
                          i.fa.fa-linkedin
                        a.instagram(target='_blank' href='')
                          i.fa.fa-instagram
                  .clear
                    ul.dealer-contacts
                      li
                        i.pe-7s-map-marker.strong  
                        |  9089 your adress her
                      li
                        i.pe-7s-mail.strong  
                        |  email@yourcompany.com
                      li
                        i.pe-7s-call.strong  
                        |  +1 908 967 5906
                    p
                      | Duis mollis  blandit tempus porttitor curabiturDuis mollis  blandit tempus porttitor curabitur , est non&mldr;
            //- .panel.panel-default.sidebar-menu.similar-property-wdg.wow.fadeInRight.animated
            //-   .panel-heading
            //-     h3.panel-title Similar Properties
            //-   .panel-body.recent-property-widget
            //-     ul
            //-       li
            //-         .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
            //-           a(href='single.html')
            //-             img(src='assets/img/demo/small-property-2.jpg')
            //-           span.property-seeker
            //-             b.b-1 A
            //-             b.b-2 S
            //-         .col-md-8.col-sm-8.col-xs-8.blg-entry
            //-           h6
            //-             a(href='single.html') Super nice villa 
            //-           span.property-price 3000000$
            //-       li
            //-         .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
            //-           a(href='single.html')
            //-             img(src='assets/img/demo/small-property-1.jpg')
            //-           span.property-seeker
            //-             b.b-1 A
            //-             b.b-2 S
            //-         .col-md-8.col-sm-8.col-xs-8.blg-entry
            //-           h6
            //-             a(href='single.html') Super nice villa 
            //-           span.property-price 3000000$
            //-       li
            //-         .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
            //-           a(href='single.html')
            //-             img(src='assets/img/demo/small-property-3.jpg')
            //-           span.property-seeker
            //-             b.b-1 A
            //-             b.b-2 S
            //-         .col-md-8.col-sm-8.col-xs-8.blg-entry
            //-           h6
            //-             a(href='single.html') Super nice villa 
            //-           span.property-price 3000000$
            //-       li
            //-         .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
            //-           a(href='single.html')
            //-             img(src='assets/img/demo/small-property-2.jpg')
            //-           span.property-seeker
            //-             b.b-1 A
            //-             b.b-2 S
            //-         .col-md-8.col-sm-8.col-xs-8.blg-entry
            //-           h6
            //-             a(href='single.html') Super nice villa 
            //-           span.property-price 3000000$
            //- .panel.panel-default.sidebar-menu.wow.fadeInRight.animated
            //-   .panel-heading
            //-     h3.panel-title Ads her  
            //-   .panel-body.recent-property-widget
            //-     img(src='assets/img/ads.jpg')
            //- .panel.panel-default.sidebar-menu.wow.fadeInRight.animated
            //-   .panel-heading
            //-     h3.panel-title Smart search
            //-   .panel-body.search-widget
            //-     form.form-inline(action='')
            //-       fieldset
            //-         .row
            //-           .col-xs-12
            //-             input.form-control(type='text' placeholder='Key word')
            //-       fieldset
            //-         .row
            //-           .col-xs-6
            //-             select#lunchBegins.selectpicker(data-live-search='true' data-live-search-style='begins' title='Select Your City')
            //-               option New york, CA
            //-               option Paris
            //-               option Casablanca
            //-               option Tokyo
            //-               option Marraekch
            //-               option kyoto , shibua
            //-           .col-xs-6
            //-             select#basic.selectpicker.show-tick.form-control
            //-               option  -Status- 
            //-               option Rent 
            //-               option Boy
            //-               option used
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             label(for='price-range') Price range ($):
            //-             input#price-range.span2(type='text' value='' data-slider-min='0' data-slider-max='600' data-slider-step='5' data-slider-value='[0,450]')
            //-             br
            //-             b.pull-left.color 2000$
            //-             b.pull-right.color 100000$
            //-           .col-xs-6
            //-             label(for='property-geo') Property geo (m2) :
            //-             input#property-geo.span2(type='text' value='' data-slider-min='0' data-slider-max='600' data-slider-step='5' data-slider-value='[50,450]')
            //-             br
            //-             b.pull-left.color 40m
            //-             b.pull-right.color 12000m
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             label(for='price-range') Min baths :
            //-             input#min-baths.span2(type='text' value='' data-slider-min='0' data-slider-max='600' data-slider-step='5' data-slider-value='[250,450]')
            //-             br
            //-             b.pull-left.color 1
            //-             b.pull-right.color 120
            //-           .col-xs-6
            //-             label(for='property-geo') Min bed :
            //-             input#min-bed.span2(type='text' value='' data-slider-min='0' data-slider-max='600' data-slider-step='5' data-slider-value='[250,450]')
            //-             br
            //-             b.pull-left.color 1
            //-             b.pull-right.color 120
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox' checked='')
            //-                 |  Fire Place
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  Dual Sinks
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox' checked='')
            //-                 |  Swimming Pool
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox' checked='')
            //-                 |  2 Stories
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  Laundry Room
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  Emergency Exit
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox' checked='')
            //-                 |  Jog Path
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  26&apos; Ceilings
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-12
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  Hurricane Shutters
            //-       fieldset
            //-         .row
            //-           .col-xs-12
            //-             input.button.btn.largesearch-btn(value='Search' type='submit')

block extra-footer
  script(type='text/javascript' src='/assets/js/lightslider.min.js')
  script.
    $(document).ready(function () {
    $('#image-gallery').lightSlider({
    gallery: true,
    item: 1,
    thumbItem: 9,
    slideMargin: 0,
    speed: 500,
    auto: true,
    loop: true,
    onSliderLoad: function () {
    $('#image-gallery').removeClass('cS-hidden');
    }
    });
    });