extends ../layouts/layout.pug

block extra-header
  link(rel='stylesheet' href='/assets/css/lightslider.min.css')

block content
  .page-head
    .container
      .row
        .page-head-content
          h1.page-title Chi tiết sách
  // End page header
  // property area
  .content-area.single-property(style='background-color: #FCFCFC;')
    .container
      .clearfix.padding-top-40
        .col-md-8.single-property-content
          .row
            .light-slide-item
              .clearfix
                .favorite-and-print
                  a.add-to-fav(href='#login-modal' data-toggle='modal')
                    i.fa.fa-star-o
                  a.printer-icon(href='javascript:window.print()')
                    i.fa.fa-print
                ul#image-gallery.gallery.list-unstyled.cS-hidden
                  li(data-thumb='/assets/img/property-1/property1.jpg')
                    img(src='/assets/img/property-1/property1.jpg')
                  li(data-thumb='/assets/img/property-1/property3.jpg')
                    img(src='/assets/img/property-1/property3.jpg')
                  li(data-thumb='/assets/img/property-1/property4.jpg')
                    img(src='/assets/img/property-1/property4.jpg')
          .single-property-wrapper
            .single-property-header
              h1.property-title.pull-left #{product.title}
              span.property-price.pull-right #{product.basePrice} VND
            //- .property-meta.entry-meta.clearfix
            //-   .col-xs-3.col-sm-3.col-md-3.p-b-15
            //-     span.property-info-icon.icon-tag
            //-       svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 48 48')
            //-         path.meta-icon(fill-rule='evenodd' clip-rule='evenodd' fill='#FFA500' d='M47.199 24.176l-23.552-23.392c-.504-.502-1.174-.778-1.897-.778l-19.087.09c-.236.003-.469.038-.696.1l-.251.1-.166.069c-.319.152-.564.321-.766.529-.497.502-.781 1.196-.778 1.907l.092 19.124c.003.711.283 1.385.795 1.901l23.549 23.389c.221.218.482.393.779.523l.224.092c.26.092.519.145.78.155l.121.009h.012c.239-.003.476-.037.693-.098l.195-.076.2-.084c.315-.145.573-.319.791-.539l18.976-19.214c.507-.511.785-1.188.781-1.908-.003-.72-.287-1.394-.795-1.899zm-35.198-9.17c-1.657 0-3-1.345-3-3 0-1.657 1.343-3 3-3 1.656 0 2.999 1.343 2.999 3 0 1.656-1.343 3-2.999 3z')
            //-     span.property-info-entry
            //-       span.property-info-label Status
            //-       span.property-info-value For Sale
            //-   .col-xs-3.col-sm-3.col-md-3.p-b-15
            //-     span.property-info.icon-area
            //-       svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 48 48')
            //-         path.meta-icon(fill='#FFA500' d='M46 16v-12c0-1.104-.896-2.001-2-2.001h-12c0-1.103-.896-1.999-2.002-1.999h-11.997c-1.105 0-2.001.896-2.001 1.999h-12c-1.104 0-2 .897-2 2.001v12c-1.104 0-2 .896-2 2v11.999c0 1.104.896 2 2 2v12.001c0 1.104.896 2 2 2h12c0 1.104.896 2 2.001 2h11.997c1.106 0 2.002-.896 2.002-2h12c1.104 0 2-.896 2-2v-12.001c1.104 0 2-.896 2-2v-11.999c0-1.104-.896-2-2-2zm-4.002 23.998c0 1.105-.895 2.002-2 2.002h-31.998c-1.105 0-2-.896-2-2.002v-31.999c0-1.104.895-1.999 2-1.999h31.998c1.105 0 2 .895 2 1.999v31.999zm-5.623-28.908c-.123-.051-.256-.078-.387-.078h-11.39c-.563 0-1.019.453-1.019 1.016 0 .562.456 1.017 1.019 1.017h8.935l-20.5 20.473v-8.926c0-.562-.455-1.017-1.018-1.017-.564 0-1.02.455-1.02 1.017v11.381c0 .562.455 1.016 1.02 1.016h11.39c.562 0 1.017-.454 1.017-1.016 0-.563-.455-1.019-1.017-1.019h-8.933l20.499-20.471v8.924c0 .563.452 1.018 1.018 1.018.561 0 1.016-.455 1.016-1.018v-11.379c0-.132-.025-.264-.076-.387-.107-.249-.304-.448-.554-.551z')
            //-     span.property-info-entry
            //-       span.property-info-label Area
            //-       span.property-info-value
            //-         | 3500
            //-         b.property-info-unit Sq Ft
            //-   .col-xs-3.col-sm-3.col-md-3.p-b-15
            //-     span.property-info-icon.icon-bed
            //-       svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 48 48')
            //-         path.meta-icon(fill='#FFA500' d='M21 48.001h-19c-1.104 0-2-.896-2-2v-31c0-1.104.896-2 2-2h19c1.106 0 2 .896 2 2v31c0 1.104-.895 2-2 2zm0-37.001h-19c-1.104 0-2-.895-2-1.999v-7.001c0-1.104.896-2 2-2h19c1.106 0 2 .896 2 2v7.001c0 1.104-.895 1.999-2 1.999zm25 37.001h-19c-1.104 0-2-.896-2-2v-31c0-1.104.896-2 2-2h19c1.104 0 2 .896 2 2v31c0 1.104-.896 2-2 2zm0-37.001h-19c-1.104 0-2-.895-2-1.999v-7.001c0-1.104.896-2 2-2h19c1.104 0 2 .896 2 2v7.001c0 1.104-.896 1.999-2 1.999z')
            //-     span.property-info-entry
            //-       span.property-info-label Bedrooms
            //-       span.property-info-value 3
            //-   .col-xs-3.col-sm-3.col-md-3.p-b-15
            //-     span.property-info-icon.icon-bath
            //-       svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 48 48')
            //-         path.meta-icon(fill='#FFA500' d='M37.003 48.016h-4v-3.002h-18v3.002h-4.001v-3.699c-4.66-1.65-8.002-6.083-8.002-11.305v-4.003h-3v-3h48.006v3h-3.001v4.003c0 5.223-3.343 9.655-8.002 11.305v3.699zm-30.002-24.008h-4.001v-17.005s0-7.003 8.001-7.003h1.004c.236 0 7.995.061 7.995 8.003l5.001 4h-14l5-4-.001.01.001-.009s.938-4.001-3.999-4.001h-1s-4 0-4 3v17.005000000000003h-.001z')
            //-     span.property-info-entry
            //-       span.property-info-label Bathrooms
            //-       span.property-info-value 3.5
            //-   .col-xs-3.col-sm-3.col-md-3.p-b-15
            //-     span.property-info-icon.icon-garage
            //-       svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 48 48')
            //-         path.meta-icon(fill='#FFA500' d='M44 0h-40c-2.21 0-4 1.791-4 4v44h6v-40c0-1.106.895-2 2-2h31.999c1.106 0 2.001.895 2.001 2v40h6v-44c0-2.209-1.792-4-4-4zm-36 8.001h31.999v2.999h-31.999zm0 18h6v5.999h-2c-1.104 0-2 .896-2 2.001v6.001c0 1.103.896 1.998 2 1.998h2v2.001c0 1.104.896 2 2 2s2-.896 2-2v-2.001h11.999v2.001c0 1.104.896 2 2.001 2 1.104 0 2-.896 2-2v-2.001h2c1.104 0 2-.895 2-1.998v-6.001c0-1.105-.896-2.001-2-2.001h-2v-5.999h5.999v-3h-31.999v3zm8 12.999c-1.104 0-2-.895-2-1.999s.896-2 2-2 2 .896 2 2-.896 1.999-2 1.999zm10.5 2h-5c-.276 0-.5-.225-.5-.5 0-.273.224-.498.5-.498h5c.275 0 .5.225.5.498 0 .275-.225.5-.5.5zm1-2h-7c-.275 0-.5-.225-.5-.5s.226-.499.5-.499h7c.275 0 .5.224.5.499s-.225.5-.5.5zm-6.5-2.499c0-.276.224-.5.5-.5h5c.275 0 .5.224.5.5s-.225.5-.5.5h-5c-.277 0-.5-.224-.5-.5zm11 2.499c-1.104 0-2.001-.895-2.001-1.999s.896-2 2.001-2c1.104 0 2 .896 2 2s-.896 1.999-2 1.999zm0-12.999v5.999h-16v-5.999h16zm-24-13.001h31.999v3h-31.999zm0 5h31.999v3h-31.999z')
            //-     span.property-info-entry
            //-       span.property-info-label Garages
            //-       span.property-info-value 2
            // .property-meta
            .section
              h4.s-property-title Description
              .s-property-content
                p
                  | Nulla quis dapibus nisl. Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies
            // End description area
            .section.additional-details
              h4.s-property-title Additional Details
              ul.additional-details-list.clearfix
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Waterfront
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry Yes
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Built In
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry 2003
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Parking
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry 2 Or More Spaces,Covered Parking,Valet Parking
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Waterfront
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry Yes
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title View
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry Intracoastal View,Direct ew
                li
                  span.col-xs-6.col-sm-4.col-md-4.add-d-title Waterfront Description:
                  span.col-xs-6.col-sm-8.col-md-8.add-d-entry Intracoastal Front,Ocean Access
            // End additional-details area
            //- .section.property-features
            //-   h4.s-property-title Features
            //-   ul
            //-     li
            //-       a(href='properties.html') Swimming Pool
            //-     li
            //-       a(href='properties.html') 3 Stories
            //-     li
            //-       a(href='properties.html') Central Cooling
            //-     li
            //-       a(href='properties.html') Jog Path 2
            //-     li
            //-       a(href='properties.html') 2 Lawn
            //-     li
            //-       a(href='properties.html') Bike Path
            //- // End features area
            
        .col-md-4.p0
          aside.sidebar.sidebar-property.blog-asside-right
            .dealer-widget
              .dealer-content
                .inner-wrapper
                  .clear
                    .col-xs-4.col-sm-4.dealer-face
                      a(href='')
                        img.img-circle(src='/assets/img/client-face1.png')
                    .col-xs-8.col-sm-8
                      h3.dealer-name
                        a(href='') Nathan James
                        span Real Estate Agent
                      .dealer-social-media
                        a.twitter(target='_blank' href='')
                          i.fa.fa-twitter
                        a.facebook(target='_blank' href='')
                          i.fa.fa-facebook
                        a.gplus(target='_blank' href='')
                          i.fa.fa-google-plus
                        a.linkedin(target='_blank' href='')
                          i.fa.fa-linkedin
                        a.instagram(target='_blank' href='')
                          i.fa.fa-instagram
                  .clear
                    ul.dealer-contacts
                      li
                        i.pe-7s-map-marker.strong  
                        |  9089 your adress her
                      li
                        i.pe-7s-mail.strong  
                        |  email@yourcompany.com
                      li
                        i.pe-7s-call.strong  
                        |  +1 908 967 5906
                    p
                      | Duis mollis  blandit tempus porttitor curabiturDuis mollis  blandit tempus porttitor curabitur , est non&mldr;
            //- .panel.panel-default.sidebar-menu.similar-property-wdg.wow.fadeInRight.animated
            //-   .panel-heading
            //-     h3.panel-title Similar Properties
            //-   .panel-body.recent-property-widget
            //-     ul
            //-       li
            //-         .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
            //-           a(href='single.html')
            //-             img(src='assets/img/demo/small-property-2.jpg')
            //-           span.property-seeker
            //-             b.b-1 A
            //-             b.b-2 S
            //-         .col-md-8.col-sm-8.col-xs-8.blg-entry
            //-           h6
            //-             a(href='single.html') Super nice villa 
            //-           span.property-price 3000000$
            //-       li
            //-         .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
            //-           a(href='single.html')
            //-             img(src='assets/img/demo/small-property-1.jpg')
            //-           span.property-seeker
            //-             b.b-1 A
            //-             b.b-2 S
            //-         .col-md-8.col-sm-8.col-xs-8.blg-entry
            //-           h6
            //-             a(href='single.html') Super nice villa 
            //-           span.property-price 3000000$
            //-       li
            //-         .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
            //-           a(href='single.html')
            //-             img(src='assets/img/demo/small-property-3.jpg')
            //-           span.property-seeker
            //-             b.b-1 A
            //-             b.b-2 S
            //-         .col-md-8.col-sm-8.col-xs-8.blg-entry
            //-           h6
            //-             a(href='single.html') Super nice villa 
            //-           span.property-price 3000000$
            //-       li
            //-         .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
            //-           a(href='single.html')
            //-             img(src='assets/img/demo/small-property-2.jpg')
            //-           span.property-seeker
            //-             b.b-1 A
            //-             b.b-2 S
            //-         .col-md-8.col-sm-8.col-xs-8.blg-entry
            //-           h6
            //-             a(href='single.html') Super nice villa 
            //-           span.property-price 3000000$
            //- .panel.panel-default.sidebar-menu.wow.fadeInRight.animated
            //-   .panel-heading
            //-     h3.panel-title Ads her  
            //-   .panel-body.recent-property-widget
            //-     img(src='assets/img/ads.jpg')
            //- .panel.panel-default.sidebar-menu.wow.fadeInRight.animated
            //-   .panel-heading
            //-     h3.panel-title Smart search
            //-   .panel-body.search-widget
            //-     form.form-inline(action='')
            //-       fieldset
            //-         .row
            //-           .col-xs-12
            //-             input.form-control(type='text' placeholder='Key word')
            //-       fieldset
            //-         .row
            //-           .col-xs-6
            //-             select#lunchBegins.selectpicker(data-live-search='true' data-live-search-style='begins' title='Select Your City')
            //-               option New york, CA
            //-               option Paris
            //-               option Casablanca
            //-               option Tokyo
            //-               option Marraekch
            //-               option kyoto , shibua
            //-           .col-xs-6
            //-             select#basic.selectpicker.show-tick.form-control
            //-               option  -Status- 
            //-               option Rent 
            //-               option Boy
            //-               option used
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             label(for='price-range') Price range ($):
            //-             input#price-range.span2(type='text' value='' data-slider-min='0' data-slider-max='600' data-slider-step='5' data-slider-value='[0,450]')
            //-             br
            //-             b.pull-left.color 2000$
            //-             b.pull-right.color 100000$
            //-           .col-xs-6
            //-             label(for='property-geo') Property geo (m2) :
            //-             input#property-geo.span2(type='text' value='' data-slider-min='0' data-slider-max='600' data-slider-step='5' data-slider-value='[50,450]')
            //-             br
            //-             b.pull-left.color 40m
            //-             b.pull-right.color 12000m
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             label(for='price-range') Min baths :
            //-             input#min-baths.span2(type='text' value='' data-slider-min='0' data-slider-max='600' data-slider-step='5' data-slider-value='[250,450]')
            //-             br
            //-             b.pull-left.color 1
            //-             b.pull-right.color 120
            //-           .col-xs-6
            //-             label(for='property-geo') Min bed :
            //-             input#min-bed.span2(type='text' value='' data-slider-min='0' data-slider-max='600' data-slider-step='5' data-slider-value='[250,450]')
            //-             br
            //-             b.pull-left.color 1
            //-             b.pull-right.color 120
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox' checked='')
            //-                 |  Fire Place
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  Dual Sinks
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox' checked='')
            //-                 |  Swimming Pool
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox' checked='')
            //-                 |  2 Stories
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  Laundry Room
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  Emergency Exit
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox' checked='')
            //-                 |  Jog Path
            //-           .col-xs-6
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  26&apos; Ceilings
            //-       fieldset.padding-5
            //-         .row
            //-           .col-xs-12
            //-             .checkbox
            //-               label
            //-                 input(type='checkbox')
            //-                 |  Hurricane Shutters
            //-       fieldset
            //-         .row
            //-           .col-xs-12
            //-             input.button.btn.largesearch-btn(value='Search' type='submit')

block extra-footer
  script(type='text/javascript' src='/assets/js/lightslider.min.js')
  script.
    $(document).ready(function () {
    $('#image-gallery').lightSlider({
    gallery: true,
    item: 1,
    thumbItem: 9,
    slideMargin: 0,
    speed: 500,
    auto: true,
    loop: true,
    onSliderLoad: function () {
    $('#image-gallery').removeClass('cS-hidden');
    }
    });
    });